<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key="ConnectionString" value="Server=localhost;Database=MyDatabase;Integrated Security=True;"/>
		<add key="LogLevel" value="Debug"/>
		<add key="Koko" value="My value"/>
	</appSettings>

	
	<connectionStrings>
		<add name="MyDbConnection" connectionString="Server=localhost;Database=MyDatabase;Integrated Security=True;"/>
	</connectionStrings>
	
</configuration>